  
<!DOCTYPE html>
<html>
<head>
  <title>ooooo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost:8000/styles/style.css"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>


<body style="background-color: #1A8BAB">
  <div id="main" class="container-fluid">

  <h1 style="padding:10px;border-radius: 5px;"><center>Project List</center></h1>

  <div class="container">
    <form class="form">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  v-model="newElement.name">
      </div>
      
      <div class="form-group">
        <label for="box">Priority</label>
        <select class="form-control" v-model="newElement.priority" id="box">
          <option>Low</option>
          <option>Average</option>
          <option>High</option>
          <option>Urgent</option>
        </select>
      </div>

      <div class="form-group">
        <label for="starting-date">Starting date</label>
        <input type="date" class="form-control" id="starting-date" v-model="newElement.starting_date">
      </div>

      <div class="form-group">
        <label for="deadline">Deadline</label>
        <input type="date" class="form-control" id="deadline" v-model="newElement.deadline">
      </div>

      <div class="form-group">
        <label for="nb-of-part">Number of participants</label>
        <input type="number" class="form-control" id="nb-of-part" v-model="newElement.nb_of_part">
      </div>
      
      <div>
        <label for="description">Description</label>
        <textarea class="form-control" id="description" v-model="newElement.description" rows="4"></textarea>
      </div>
      
      <br />

      <button type="button" style="background-color: #F47A62;" class="btn btn-secondary" v-on:click="getProjects" >Save</button>

      <br />
      <br />
    </form>
  </div>


  <div class="container" >
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="width: 3%;text-align: center;">#</th>
          <th>Name</th>
          <th>Priority</th>
          <th>Starting date</th>
          <th>Deadline</th>
          <th style="width: 6%;text-align: center;">Participants</th>
          <th style="width: 35%;text-align: center;">Description</th>
          <th style="width: 8%;text-align: center;"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(u,index) in projects">
          <th scope="row" style="vertical-align: middle;text-align: center;">{{index+1}}</th>
          <td>{{u.name}}</td>
          <td>{{u.priority}}</td>
          <td>{{u.starting_date}}</td>
          <td>{{u.deadline}}</td>
          <td>{{u.nb_of_part}}</td>
          <td class="scrollable">
            <div>
              {{u.description}}
            </div>
          </td>
          <td style="text-align: center; vertical-align: middle;"><button type="button" style="background-color: #F47A62;" name="delete_btn" class="btn btn-info" v-on:click="removeProject(index)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
</body>

<script type="text/javascript">
  app = new Vue({
    el: "#main",
    data: {
      index:0,
      projects: [],
      newElement: {id:"", name:"",priority:"",starting_date:"",deadline:"",nb_of_part:"",description:""}
    },

    methods: {
      addProject: function(){
        this.index=this.index+1;
        this.newElement.id=this.index;
        this.projects.push({id:this.newElement.id,name:this.newElement.name,priority:this.newElement.priority,starting_date:this.newElement.starting_date,deadline:this.newElement.deadline,nb_of_part:this.newElement.nb_of_part,description:this.newElement.description});
        this.newElement = {id:"", name:"",priority:"",starting_date:"",deadline:"",nb_of_part:"",description:""};
      },
      removeProject: function(item){
        this.projects.splice(item,1);
      },
      getProjects() {
        fetch('http://localhost:8080/users.json')
        .then((res) => res.json())
        .then((data) => {
          console.log(data[0].name);
           this.projects.push({
            id:"5",
            name:data[0].name,
            priority:data[0].priority,
            starting_date:data[0].starting_date,
            deadline:data[0].deadline,
            nb_of_part:data[0].nb_of_part,
            description:data[0].description
           });
        })
      }
    }
  });
</script>

</html>