:root {
	--title-color:#0A2C36;
	--headerbackground-color:#F47A62;
}

h1 {
	text-align: center;
	padding: 5px;
	padding-bottom: 10px;
	border-radius: 5px;
	color: var(--title-color);
	border: 1px solid var(--title-color);
	background-color:  var(--headerbackground-color);
}

th {
	resize:none;
}

thead {
	padding: 5px;
	background-color: var(--headerbackground-color);
	border:1px solid var(--title-color);
	border-collapse: collapse;
}

#form_case {
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 5px; 
	background-color: var(--headerbackground-color);
}

#connect_button {
	color: var(--title-color);
	background-color:  var(--headerbackground-color);
	padding: 5px;
	border: 1px solid black;
}

td.scrollable {
	width: 500px;
	max-height: 150px;
	overflow: scroll;
}